<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
  <%- include('nav.html') %>
    <h4>검색</h4>
    <div class="container input-group mb-2">
        <input class="form-control" id="search-input">
        <button id="search" class="input-group-append btn btn-danger">검색</button>
    </div>
    <h4>리스트 페이지</h4>
    <ul class="list-group">
        <% for (var i = 0; i < posts.length; i++){ %>
        <li class="list-group-item">
          <h4> 할일 제목 : <%= posts[i].이름 %> </h4>
          <p> 할일 마감날짜 : <%= posts[i].날짜 %> </p>
          <button class="delete" data-id="<%= posts[i]._id %>">삭제</button>
          <button class="edit" data-id="<%= posts[i]._id %>">수정</button>
          <button class="chat" data-id="<%= posts[i]._id %>">채팅하기</button>
        </li>
        <% } %>
      </ul>
<!-- 
      <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script> -->
      <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
      <script>
        // 계속 헤맸는데 e가빠져있었음...미친!!!!
        $('.delete').click(function(e){
          var 지금누른거 = $(this);
          $.ajax({
            method : 'DELETE',
            url : '/delete',
            data : { _id : e.target.dataset.id }
          }).done((결과)=>{
            //AJAX 성공시 실행할 코드적기
            console.log('성공');
            //눌렀을때 db는 삭제되지만 화면에서는 새로고침을 했어야했음
            //화면에서 바로 사라질 수 있도록 fadeOut기능 써줌
            지금누른거.parent('li').fadeOut();
          }).fail((xhr,code,err)=>{
            //AJAX 실패시 실행할 코드적기
            console.log(xhr,code,err);
          });
        });

        $('.chat').click(function(e){
          $.ajax({
            method : 'POST',
            url : '/chat',
            data : { _id : e.target.dataset.id }
          }).done((결과)=>{
            //AJAX 성공시 실행할 코드적기
            console.log('성공');
            
          }).fail((xhr,code,err)=>{
            //AJAX 실패시 실행할 코드적기
            console.log(xhr,code,err);
          });
        })

        $('#search').click(function(){
          //<input>에 유저가 입력한 값
          var 입력한값 = $('#search-input').val()
          window.location.replace('/search?value='+입력한값);
        })
      </script>
</body>
</html>